<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>466984906153-8b0hg72jk6kvvdot3iu10i87tog7qli7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.466984906153-8b0hg72jk6kvvdot3iu10i87tog7qli7</string>
	<key>API_KEY</key>
	<string>AIzaSyDbgnNRhJH6EFaMOBMxR9Jx1W2HNgYt35o</string>
	<key>GCM_SENDER_ID</key>
	<string>466984906153</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Ravindra-Sandun-COBSCCOMP192P-054</string>
	<key>PROJECT_ID</key>
	<string>cobsccomp192p-054</string>
	<key>STORAGE_BUCKET</key>
	<string>cobsccomp192p-054.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:466984906153:ios:6f2e8815a0d33676d568b8</string>
</dict>
</plist>